@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareL.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareR.ttf');
  font-weight: 400;
  
}
@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareB.ttf');
  font-weight: 700;
  
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareEB.ttf');
  font-weight: 900;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  color: #6f6f6f;
  font-family: 'NanumSquare';
}
 
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background-color: #f5f9fc;
}

.input {
  border: none;
  box-shadow: 0 0 30px 0 #e7e8e9;
  border-radius: 12px;
  padding: 21px;
}
.input:focus {
  outline: 2px solid #4265ed;
  box-shadow: 0 0 30px 0 #d0d6f0;
}

input[type=password]{
  font-family: 'Courier New', Courier, monospace;
}
input[type=password]::placeholder {
  font-family: 'NanumSquare';
}


button {
  cursor: pointer;
  border: none;
  transition: .3s;
}
.btn {
  border-radius: 12px;
}
.blue-btn {
  border: 1px solid #4265ed;
  background-color: #4265ed;
  color: #fff;
}
.white-btn {
  border: 1px solid #4265ed;
  background-color: #fff;
  color: #4265ed;
}
/* .blue-btn:hover {
  background-color: #fff;
  color: #4265ed;
}
.white-btn:hover {
  background-color: #4265ed;
  color: #fff;
} */
.btn:hover {
  box-shadow: 0 0 30px 0 #d4dcfc;
}

.dn {
  display: none !important;
}

input,
textarea {
  border: 1px solid #b1b1b1;
  border-radius: 12px;
  height: 35px;
  padding: 12px;
  color: #000;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #4265ed;
  color: #4265ed;
}

/* alert-form */
#alert-form,
#info-from {
  display: relative;
  z-index: 999;
  transition: .3s;
}
.alert-back,
.info-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
.alert-txt,
.info-txt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: #fff;
  text-align: center;
  padding: 30px 50px;
  border-radius: 21px;
}
.alert-txt > h1 {
  font-weight: bolder;
  color: #f00;
  text-shadow: rgba(255, 0, 0, 0.391) 1px 0px 10px;
}
.info-txt > h1 {
  font-weight: bolder;
  color: #6280fa;
  text-shadow: #234ae580 1px 0px 10px;
}
.alert-txt > p,
.info-txt > p {
  color: #000;
  margin: 30px auto;
}
.alert-txt > button {
  color: #f00;
  background-color: #fff;
  border: 1px solid #f00;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
}
.alert-txt > button:hover {
  box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.391);
}
.info-txt > button {
  color: #6280fa;
  background-color: #fff;
  border: 1px solid #6280fa;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
}
.info-txt > button:hover {
  box-shadow: 0 0 10px 0 #234ae580;
}

/* login */
#login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
}

#login-bar {
  background: linear-gradient(to right, #6280fa, #8779f2);
  position: relative;
  flex: 1;
  box-shadow: 0 0 98px 0 #8779f3;
}

#login-back {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.11;
}

.login-txt {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.login-txt > *{
  color: #fff;
}
.login-txt p {
  font-size: 27px;
  margin-bottom: 12px;
}
.login-txt h3 {
  font-size: 36px;
  font-weight: normal;
}

.login-mode-menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.login-mode-menu > li > label {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 21px;
  transition: .4s;
  
  color: #fff;
  cursor: pointer;
  text-shadow: #fff 1px 0px 10px;
}
.login-mode-menu > li > label:hover,
input[name="login-mode"]:checked ~ label {
  box-shadow: 120px 0 30px 0 rgba(243, 248, 251, 0.3);
  background-color: #f5f9fc;
  
  color: #4265ed;
  font-weight: bold;
  text-shadow: unset;
}



#login-tab {
  flex: 2;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  
  width: 50%;
}
.login-form > h1 {
  font-size: 55px;
  text-align: center;
  background: linear-gradient(to left, #6a85f3, #8f83ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin-bottom: 35px;
}
.login-form p,a {
  color: #4265ed;
  font-weight: 400;
  display: inline-block;
}
.login-form p {
  margin-bottom: 20px;
  font-size: 24px;
  margin-left: 12px;
  margin-top: 45px;
  font-weight: 700;
}
.login-form a {
  margin-top: 16px;
  text-align: right;
  display: block;
  font-weight: 700;
  margin-right: 12px;
}
.login-form input {
  display: block;
  width: 100%;
  height: 55px;
  font-size: 18px;
}
.login-form button {
  width: 100%;
  height: 75px;
  margin-top: 80px;
  border: none;
  box-shadow: 0 0 30px 0 #b1b1b1;
  color: #fff;
  background: linear-gradient(45deg,  #6f89f6, #8f83ef);
  border-radius: 12px;
  font-size: 27px;
}
.login-form button:hover {
  transform: scale(.97);
}

/* menu */
header {
  width: 100%;
  height: 85px;
  background: linear-gradient(to right, #6280fa, #8779f2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  position: sticky;
  top: 0;
  left: 0;
}

header>* {
  color: #fff;
}

header>a {
  font-size: 24px;
  color: #fff;
}

#menu-tab {
  display: flex;
  flex-direction: row;
}

.main-menu>div {
  margin: 0 30px;
  opacity: .4;
  height: 100%;
  float: left;
}

.main-menu>div>span {
  transition: .3s;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  line-height: 85px;
}

.main-menu>div.active {
  opacity: 1;
  text-shadow: #fff 1px 0px 10px;
}

.main-menu>div:hover {
  opacity: 1;
  text-shadow: #fff 1px 0px 10px;
}

.profile-tab {
  margin-left: 30px;
  border-left: 2px solid rgba(0, 0, 0, .1);
  padding-left: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

.profile-tab h1,
.profile-tab p {
  color: #fff;
}

.profile-tab h1 {
  font-size: 24px;
}

.profil-tab p {
  font-size: 14;
}


.main-menu > div,
.profile-tab {
  position: relative;
  padding: 0 70px;
}

.menu-sub {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  text-align: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.menu-sub>a {
  line-height: 75px;
  color: #6f6f6f;
  font-weight: bold;
  font-size: 17px;
  display: block;
  width: 100%;
}

.menu-sub>a:hover {
  color: #4265ed;
  text-shadow: 0 0px 10px #4265ed;
  background-color: #e5e8f77a;
}

.main-menu>div:hover>.menu-sub,
.profile-tab:hover > .menu-sub {
  visibility: visible;
  opacity: 1;
}

/* footer */
footer {
  background: none;
  position: fixed;
  bottom: 50px;
  right: 100px;
  /* padding: 30px 100px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
footer > h1 {
  font-size: 28px;
  margin-right: 20px;
}

footer > ul > li {
  margin: 5px 0;
}

/* req-form */

#req-form {
  margin: 150px auto;
  width: 50%;
}

#req-form > h1 {
  color: #4265ed;
  font-size: 30px;
  text-align: center;
}

.req-detail {
  width: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 12px;
  padding: 30px 80px;
}
.req-detail > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 21px 0;
}
.req-detail-2 > div {
  flex-direction: column;
  align-items: stretch;
}
.req-detail > div  span {
  flex: 3;
  margin-top: 8px;
  font-weight: 500;
  color: #000;
  font-size: 18px;
}
.req-detail > div span {
  margin-bottom: 21px;
}
.req-detail > div > input,
.req-detail > div > textarea {
  flex: 7;
  font-size: 14px;
}
.req-detail-2 > div > textarea {
  display: block;
  height: 300px;
}
.req-detail > div > textarea {
  height: 300px;
}

.btn-tab {
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: center;
}

.btn-tab > button {
  margin: 0 12px;
  padding: 0 30px;
  font-size: 14px;
}

/* java-req */

#req-choice {
  height: auto;
}
.ft-file-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 12px;
}
.ft-file-tab > li {
  flex: 1;
}

.ft-file-tab > li > label {
  background-color: #fff;
  border: 1px solid #14d470;
  width: 100%;
  height: 35px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  color: #14d470;
  display: block;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  transition: .3s;
}
.ft-file-box {
}
.ft-file-box > label {
  display: block;
  width: 100%;
  
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  
  border: 2px dashed rgba(0, 0, 0, 0.297);
  background-color: #f3f4f5;
  border-radius: 12px;
}
.ft-file-box > label > svg {
  font-size: 24px;
}

input[name="ft-file"]:checked ~ label {
  color: #fff;
  background-color: #14d470;
  box-shadow: 0 0 10px #14d4717d;
}